$font=serif

html
	margin 0
	padding 0
	height 100%
	color white

body
	padding 0.4em
	font-family $font
	width 75%

h1
	text-align center
	font-size 2em
	color #200772

div.courses
	padding 1.5em
	width 90%
	background-color #200772
	.highlight
		background-color #876ED7

ol 
    list-style-type none
	list-style-position relative
	left -20px

ol li
	padding 10px
	border-radius 10px
	border 1px solid #aaaaaa
	margin 3px
	padding 0.4em
	font-size 1em
	height 16px

button.status
	width 30px
	height 30px
	border-radius: 100%;
	background-color: #9DE0AD;
	color: #008800;
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	border: 2px solid #008800;
	box-shadow: 2px 2px 2px #888;
	display: inline-block;

#filters
	text-align center

button.recommended
	padding 0.4em
	display inline-block
	border-radius 10px
	border 1px solid #aaaaaa
	margin 3px

span
	padding 6px
	display inline-block
	border-radius 100%
	border 4px
	font-style italic
	font-size 1em
	color #6A48D7