$font=serif

html
	margin 0
	padding 0
	height 100%
	color white

body
	padding 0.4em
	font-family $font
	width 75%

h1
	text-align center
	font-size 2em
	color #200772

div.courses
	padding 1.5em
	width 90%
	background-color #200772
	.highlight
		background-color #876ED7

ol 
    list-style-type none
	list-style-position relative
	left -20px

ol li
	padding 10px
	border-radius 10px
	border 1px solid #aaaaaa
	margin 3px
	padding 0.4em
	font-size 1em
	height 16px

button.status
	padding 5px
	display inline-block
	border-radius 10px
	border 1px solid #aaaaaa
	background-color #200772
	color white

#filters
	text-align center

button.recommended
	padding 0.4em
	display inline-block
	border-radius 10px
	border 1px solid #aaaaaa
	margin 3px

span
	padding 5px
	display inline-block
	border-radius 10px
	border 1px
	font-style italic
	font-size 1em
	color #6A48D7