body {
  padding: 50px;
  font-family: Times New Roman;
  width: 75%;
  color: #000;
}
h1 {
  text-align: center;
  font-size: 14pt;
}
div.courses {
  padding: 25px;
  width: 90%;
  background-color: #0c0;
}
li {
  padding: 10px;
}
button.status {
  padding: 5px;
  display: inline-block;
  border-radius: 10px;
  border: 1px, solid, #aaa;
  background-color: #aca;
}
#filters {
  text-align: center;
}
button.recommended {
  padding: 7px;
  display: inline-block;
  border-radius: 10px;
  border: 1px, solid, #aaa;
}
span {
  font-style: italic;
  font-size: 12pt;
  color: #ff0;
}
