body {
	padding: 50px;
	font-family: Helvetica;
	width: 75%;
	color: black;
} 

h1 {
	text-align: center;
	font-size: 14pt;
}

div.courses {
	padding: 25px;
	width: 90%;
	background-color: #00cc00;
}

li {
	padding: 10px;
}

button.status {
	padding: 5px;
	display: inline-block;
	border-radius: 10px;
	border: 1px, solid, #aaaaaa;
	background-color: #aaccaa;
}

#filters {
	text-align: center;
}

button.recommended {
 	padding: 7px;
 	display: inline-block;
 	border-radius: 10px;
 	border: 1px, solid, #aaaaaa;
}

span {
	font-style: italic;
	font-size: 12pt;
	color: yellow;
}